@import "../valo/valo.scss";

@mixin tokenfield {
  @include valo;

.attachment-btn .v-button-caption,
	.attachment-tf-btn .v-button-link.tf-btn .v-button-caption {
		color: #1A1A1A;
	}

	.attachment-btn .v-button-caption .att-size,
	.attachment-tf-btn .v-button-link.tf-btn .v-button-caption .att-size {
		color: #666;
	    display: inline-block;
	    font-size: 12px;
	    margin-left: 11px;
	}
	
	.recipient-tf-btn .tf-btn {
	    position: relative;
	    top: 3px;
	    margin-right: 16px;
	    vertical-align: top;
	    margin-bottom: 3px;
	}
	
	.label-tf-btn .v-filterselect + .tf-btn.v-button.v-widget.link.v-button-link {
		margin-left: 16px !important;
	}
	
	.tokenfield-button .tf-remove-btn {
		width: 20px !important;
		height: 20px !important;
		text-align: center !important;
		margin-right: -5px !important;
		margin-left: 6px !important;;
	}
	
	.tf-btn {
	    position: relative;
	    top: 3px;
	    margin-right: 16px;
	    vertical-align: top;
	    margin-bottom: 3px;
	}
}
